<table>
  <tr>
    <th>age</th>
    <td><%=@cat.age%></td>
  </tr>
  <tr>
    <th>birth_date</th>
    <td><%=@cat.birth_date%></td>
  </tr>
  <tr>
    <th>color</th>
    <td><%=@cat.color%></td>
  </tr>
  <tr>
    <th>name</th>
    <td><%=@cat.name%></td>
  </tr>
  <tr>
    <th>sex</th>
    <td><%=@cat.sex%></td>
  </tr>
  <tr>
    <th>description</th>
    <td><%=@cat.description%></td>
  </tr>
</table>

